<h2>Chat</h2>
<hr>
<a href="/">Home Page</a>
<hr>
<a href="/realtimeproducts">Realtime Products</a>
<hr>
<a href="/products">Products</a>
<hr />
<input type="text" id="mensaje">
<div id="mensajes"></div>

<br>


{{!-- Para trabajar con Sweet alert --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
<script src="socket.io/socket.io.js"></script>

<script src="assets/scripts/chat.js"></script>



